@import 'src/styles/mixins';

.button {
  @include font(2.0rem, 150%, 400, #FFF);
  cursor: pointer;
  background: #5357B6;

  &_icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.button:hover {
  color: #C5C6EF;
}
