@import 'src/styles/placeholders';
@import 'src/styles/mixins';

.reply {
  display: flex;
  gap: 16px;
  max-width: 730px;
  height: 144px;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 24px;
  margin-bottom: 20px;

  &__button {
    flex-shrink: 0;
    width: 104px;
  }
}